@use '../../../global.scss';


.fondo{
    height: 100vh;
    background-image: url("../../../assets/img/imgduoc.jpg") ;
    background-size: cover;
    text-align: center;

}

ion-card{
    background:linear-gradient(#b5dce1, #d5bcd6) ;
    margin: 0 auto;
    top: 5vh;
    height: 90vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    ;

}
ion-card-header{
    ion-card-subtitle{
        font-size: x-large;
        color: global.$color-primario
    }
}


.imagen_login{
    width: 40%;
}

@media (max-width: 420px){
    .fondo{
        ion-card{
            width: 80vw;
        }
    }
}


